.brend-about-sec-1 {
    padding-top: 182px;
    padding-bottom: 80px;
}

.brend-about-sec-1__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brend-about-sec-1__img-wrapper {
    width: 447px;
    height: 222px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border: solid 1px rgba(34, 40, 43, 0.2);

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}

.brend-about-sec-1__data {
    width: 610px;

    p {
        margin-bottom: 20px;
    }
}

.brend-about-sec-2__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.brend-about-sec-2__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brend-about-sec-2__text-left {
    width: 610px;

    p {
        margin-bottom: 20px;
    }
}

.brend-about-sec-2__text-right {
    width: 445px;

    .seo-sec__advantages-li-text {
        font-weight: 400;
    }
}

.brend-about-sec-2__text-right-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.brend-about-sec-2 {
    padding-bottom: 80px;
}

.brend-about-sec-3 {
    padding-bottom: 80px;
}

.brend-about-sec-3__title {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.form-sec--brend-page {
    margin-bottom: 80px;
}

.reviews-sec__slider-1-wrapper-mob {
    display: none;
}

@media only screen and (max-width: 1150px) {
    .brend-about-sec-1 {
        padding-top: 175px;
        padding-bottom: 50px;
    }

    .brends-sec__title {
        font-size: 36px;
        margin: 30px 0;
    }

    .brend-about-sec-1__data {
        width: calc(100% - 442px);
        padding-right: 23px;
    }

    .brend-about-sec-1__img-wrapper {
        width: 442px;
    }

    .brend-about-sec-2__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 28px;
    }

    .brend-about-sec-2__text-right {
        width: 445px;
    }

    .brend-about-sec-2__text-left {
        width: 441px;
    }

    .brend-about-sec-2__text-right-title {
        font-size: 22px;
    }

    .brend-about-sec-2 {
        padding-bottom: 70px;
    }

    .brend-about-sec-3__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 28px;
    }

    .brend-about-sec-3 {
        padding-bottom: 60px;
    }

    .form-sec--brend-page {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 910px) {
    .brend-about-sec-1 {
        padding-top: 210px;
        padding-bottom: 60px;
    }

    .brends-sec__title {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .brend-about-sec-1__row {
        flex-wrap: wrap;
    }

    .brend-about-sec-1__data {
        width: 100%;
        padding: 0;
    }

    .brend-about-sec-1__img-wrapper {
        width: 100%;
        height: 222px;
    }

    .brend-about-sec-2__title {
        font-size: 26px;
        line-height: 100%;
        margin-bottom: 26px;
    }

    .brend-about-sec-2 {
        padding-bottom: 60px;
    }

    .brend-about-sec-2__row {
        flex-wrap: wrap;
    }

    .brend-about-sec-2__text-left {
        width: 100%;
    }

    .brend-about-sec-2__text-right {
        width: 100%;
    }

    .brend-about-sec-3__title {
        font-size: 26px;
        line-height: 100%;
        margin-bottom: 26px;
    }

    .brend-about-sec-3 {
        padding-bottom: 50px;
    }

    .form-sec--brend-page {
        margin-bottom: 60px;
    }

    .reviews-sec__slider-1-wrapper {
        display: none;
    }

    .reviews-sec__slider-1-wrapper-mob {
        display: block;
    }

}