.brends-sec {
    padding-top: 182px;
    padding-bottom: 80px;
}

.brends-sec__title {
    font-size: 44px;
    letter-spacing: -1.5px;
    margin-top: 30px;
    margin-bottom: 36px;
    line-height: 100%;
    font-weight: 600;
}

.brends-sec__subtitle {
    font-size: 16px;
    line-height: 130%;
    font-weight: 600;
}

.brends-sec__wrapper {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
}

.brends-sec__element {
    width: calc(33.333% - 20px);
    margin: 30px 10px 0 10px;
}

.brends-sec__element-img-wrapper {
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 20px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;

    &:hover {
        background: $green1;
        transition: all ease 0.3s;
    }
}

.brends-sec__element-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.brends-sec__element-title {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    font-weight: 600;
}

.brends-sec__element-subtitle {
    font-size: 16px;
    margin-top: 4px;
    line-height: 130%;
}

@media only screen and (max-width: 1150px) {
    .brends-sec {
        padding: 175px 0 70px 0;
    }

    .brends-sec__title {
        font-size: 36px;
        margin: 30px 0;
        line-height: 100%;
    }

    .brends-sec__element-title {
        font-size: 18px;
        margin-top: 16px;
        line-height: 26px;
    }
}

@media only screen and (max-width: 910px) {
    .brends-sec {
        padding: 210px 0 60px 0;
    }

    .brends-sec__title {
        margin: 20px 0 30px 0;
        font-size: 30px;
    }

    .brends-sec__subtitle {
        display: none;
    }

    .brends-sec__wrapper {
        width: 100%;
        margin: 0;
    }

    .brends-sec__element {
        width: 100%;
        margin: 30px 0 0 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .brends-sec__element-title {
        font-size: 17px;
    }
}