.brend-about-sec-1 {
    padding-top: 182px;
    padding-bottom: 80px;
}

.brend-about-sec-1__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brend-about-sec-1__img-wrapper {
    width: 447px;
    height: 222px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border: solid 1px rgba(34, 40, 43, 0.2);

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}

.brend-about-sec-1__data {
    width: 610px;

    p {
        margin-bottom: 20px;
    }
}

.brend-about-sec-2__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.brend-about-sec-2__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brend-about-sec-2__text-left {
    width: 610px;

    p {
        margin-bottom: 20px;
    }
}

.brend-about-sec-2__text-right {
    width: 445px;

    .seo-sec__advantages-li-text {
        font-weight: 400;
    }
}

.brend-about-sec-2__text-right-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.brend-about-sec-2 {
    padding-bottom: 80px;
}

.brend-about-sec-3 {
    padding-bottom: 80px;
}

.brend-about-sec-3__title {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.form-sec--brend-page {
    margin-bottom: 80px;
}