.btnV1 {

    background: #F07F0E;
    box-shadow: inset 0px 8px 18px -2px rgba(255, 255, 255, 0.5);
    padding: 5px;
    padding-left: 20px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
    border: none;

    &:hover {
        background: $orange1;
        transition: all ease 0.3s;
        box-shadow: inset 0px 8px 18px -2px rgba(255, 255, 255, 0);
    }

}

.btnV1__text {
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: $white1;
    margin-right: 14px;
}

.btnV1__icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: $white1;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }
}

.btnV1__img {
    width: 24px;
    display: block;
}


.btnV2 {
    background: #F07F0E;
    box-shadow: inset 0px 8px 18px -2px rgba(255, 255, 255, 0.5);
    padding: 11px 30px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: $white1;
    transition: all ease 0.3s;

    &:hover {
        background: $orange1;
        transition: all ease 0.3s;
        box-shadow: inset 0px 8px 18px -2px rgba(255, 255, 255, 0);
    }

}


.btnV3 {
    background: radial-gradient(50% 50% at 50% 50%, #F6E5D4 0%, #F6EADD 100%);

    box-shadow: inset 0px 8px 18px -2px rgba(255, 255, 255, 0.5);
    padding: 5px;
    padding-left: 45px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: solid 1px $orange1;
    position: relative;

    &::before {
        width: 100%;
        height: 100%;
        border-radius: 100px;
        z-index: 1;
        position: absolute;
        content: "";
        background: $orange1;
        transition: all ease 0.3s;
        opacity: 0;
        left: 0px;
        top: 0px;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .btnV3__text {
            color: $white1;
            transition: all ease 0.3s;
        }

        .btnV3__icon-wrapper {
            background: $white1;
            transition: all ease 0.3s;
        }

        svg {
            path {
                stroke: $orange1;
            }
        }
    }
}


.btnV3__text {
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: $orange1;
    margin-right: 29px;
    position: relative;
    z-index: 2;
    transition: all ease 0.3s;
}

.btnV3__icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: $orange1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: all ease 0.3s;

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }
    }
}