.catalog-page-sec {
    padding-top: 182px;
    padding-bottom: 60px;
}

.catalog-page-sec__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 30px;
}

.catalog-page-sec__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}

.catalog-page-sec__subtitle {
    font-size: 16px;
    line-height: 130%;
}

.bread-crumbs {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.bread-crumbs__link {
    opacity: 0.5;
    color: $black1;
    margin-right: 6px;
    display: inline-block;
}

.select-filtr-element {
    width: 228px;

    select {
        width: 100%;
        padding: 12px 16px;
        border: solid 1px rgba(34, 40, 43, 0.2);
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        background: $white1;
    }
}

.catalog-page-sec__cat-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .category-card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

.catalog-page-sec__top {
    display: contents;
}

.catalog-page-sec__select {
    width: 228px;
}

@media only screen and (max-width: 1150px) {
    .catalog-page-sec {
        padding-top: 175px;
        padding-bottom: 50px;
    }

    .catalog-page-sec__header {
        margin-bottom: 30px;
    }

    .catalog-page-sec__title {
        font-size: 36px;
    }

    .select-filtr-element select {
        padding: 9.5px 16px;
    }

    .category-card-cat-page .category-card__data {
        padding-left: 12px;
    }
}

@media only screen and (max-width: 910px) {
    .catalog-page-sec {
        padding-top: 210px;
        padding-bottom: 60px;
    }

    .catalog-page-sec .catalog-page-sec__header {
        margin: 0;
        display: contents;
    }

    .catalog-page-sec__top {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .catalog-page-sec__title {
        order: 1;
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 100%;
    }

    .catalog-page-sec__subtitle {
        width: 100%;
        order: 2;
        margin-bottom: 26px;
    }

    .catalog-page-sec__select {
        order: 3;
        width: 100%;
    }

    .catalog-page-sec__cat-wrapper {
        margin-top: 20px;
    }

    .catalog-page-sec__cat-wrapper .category-card {
        width: 100%;

        .category-card__data {
            padding: 0 30px 30px 30px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .btnV3 {
            margin-top: 0;
        }

        .category-card__counter {
            margin-bottom: 18px;
        }
    }
}