.catalog-page-sec {
    padding-top: 182px;
    padding-bottom: 60px;
}

.catalog-page-sec__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 30px;
}

.catalog-page-sec__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}

.catalog-page-sec__subtitle {
    font-size: 16px;
    line-height: 130%;
}

.bread-crumbs {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.bread-crumbs__link {
    opacity: 0.5;
    color: $black1;
    margin-right: 6px;
    display: inline-block;
}

.select-filtr-element {
    width: 228px;

    select {
        width: 100%;
        padding: 12px 16px;
        border: solid 1px rgba(34, 40, 43, 0.2);
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        background: $white1;
    }
}

.catalog-page-sec__cat-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .category-card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}