.contacts-page-sec {
    padding-top: 182px;
    padding-bottom: 80px;
}

.contacts-page-sec__title {
    font-size: 44px;
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 33px;
    margin-top: 30px;
}

.contact-claster {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-claster__data {
    width: 387px;
}

.contact-claster__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.contact-claster__map {
    width: calc(100% - 387px - 28px);
    height: 308px;
    border-radius: 20px;
    overflow: hidden;

    .map-cusom {
        width: 100%;
        height: 100%;
    }
}

.contact-claster__time-work {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.5;
}

.contact-claster__location {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 130%;
}

.contact-claster__row-contacts {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.contact-claster__phone {
    color: $black1;
    font-size: 16px;
    margin-right: 15px;
    font-weight: 600;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

.contact-claster__socials {
    display: flex;
    align-items: center;
}

.contact-claster__social {
    display: block;
    width: 20px;
    margin-right: 6px;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.contact-claster__social-icon {
    width: 100%;
    display: block;
}

.contact-claster__email {
    font-size: 16px;
    line-height: 130%;
    color: $black1;
    display: inline-block;
}

.contact-claster__btn-wrapper {
    width: 100%;
    margin-top: 30px;
}

.contact-claster__btn {
    border: none;
    color: $white1;
    background: $green1;
    border-radius: 100px;
    padding: 12px 43px;
    font-size: 16px;
    transition: all ease 0.3s;
    font-weight: 500;

    &:hover {
        background: $green3;
        transition: all ease 0.3s;
    }
}


.contacts-page-sec__claster {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.my-marker {
    width: 1px;
    height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 54px;
        height: 54px;
        display: block;
        background: url('../img/_src/icon/marker-map.png');
        background-size: cover;
        background-position: center;
        top: -54px;
        position: absolute;

    }
}

.contacts-page-sec__about-ware-house {
    margin-top: 80px;
}

.about-ware-house__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.5px;
    width: 100%;
    margin-bottom: 5px;
}

.about-ware-house {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-ware-house__data {
    width: 610px;

    p {
        margin-bottom: 20px;
    }
}

.about-ware-house__img {
    width: 450px;
    height: 222px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

.form-sec--contact-page {
    margin-bottom: 80px;
}

@media only screen and (max-width: 1150px) {
    .contacts-page-sec {
        padding-top: 175px;
        padding-bottom: 70px;
    }

    .contacts-page-sec__title {
        font-size: 36px;
        margin: 30px 0;
    }

    .contact-claster__map {
        width: 600px;
        height: 310px;
    }

    .contact-claster__data {
        width: 288px;
    }

    .contact-claster__title {
        font-size: 22px;
        line-height: 30px;
    }

    .contact-claster__time-work {
        font-size: 16px;
    }

    .about-ware-house {
        margin-top: 70px;
        align-items: flex-start;
    }

    .about-ware-house__img {
        width: 442px;
        height: 222px;
    }

    .about-ware-house__data {
        width: 440px;
    }

    .about-ware-house__title {
        margin-bottom: 16px;
        font-size: 30px;
    }

    .form-sec--contact-page {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 910px) {
    .contacts-page-sec {
        padding-top: 210px;
        padding-bottom: 60px;
    }

    .contacts-page-sec__title {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 100%;
    }

    .contacts-page-sec__claster {
        flex-wrap: wrap;
    }

    .contact-claster__data {
        order: 2;
        width: 100%;
        margin-top: 30px;
    }

    .contact-claster__map {
        width: 100%;
        height: 310px;
        border-radius: 20px;
    }

    .contact-claster__btn {
        width: 100%;
        text-align: center;
    }

    .about-ware-house {
        margin-top: 60px;
    }

    .about-ware-house__title {
        margin-bottom: 26px;
        font-size: 26px;
        line-height: 38px;
    }

    .about-ware-house__img {
        width: 100%;
    }

    .form-sec--contact-page {
        margin-bottom: 60px;
    }
}