.detail-sec {
    padding-top: 182px;
    padding-bottom: 80px;
}

.detail-sec__title {
    font-size: 44px;
    letter-spacing: -1.5px;
    line-height: 100%;
    margin-bottom: 36px;
    margin-top: 30px;
}

.detail-sec__text {
    p {
        margin-bottom: 20px;
    }
}

.detail-adv-sec {
    padding-bottom: 80px;
}

.detail-adv-sec__text {
    margin-top: 36px;

    p {
        margin-bottom: 20px;
    }
}

.detail-adv-sec__btn-wrapper {
    padding-top: 20px;
}

.detail-adv-sec__btn {
    background: $green1;
    color: $white1;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    padding: 12px 130px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $green3;
        transition: all ease 0.3s;
    }
}