.detail-sec {
    padding-top: 182px;
    padding-bottom: 80px;
}

.detail-sec__title {
    font-size: 44px;
    letter-spacing: -1.5px;
    line-height: 100%;
    margin-bottom: 36px;
    margin-top: 30px;
}

.detail-sec__text {
    p {
        margin-bottom: 20px;
    }
}

.detail-adv-sec {
    padding-bottom: 80px;
}

.detail-adv-sec__text {
    margin-top: 36px;

    p {
        margin-bottom: 20px;
    }
}

.detail-adv-sec__btn-wrapper {
    padding-top: 20px;
}

.detail-adv-sec__btn {
    background: $green1;
    color: $white1;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    padding: 12px 130px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $green3;
        transition: all ease 0.3s;
    }
}


@media only screen and (max-width: 1150px) {
    .detail-sec__title {
        font-size: 36px;
        margin: 30px 0;
    }

    .detail-sec {
        padding-top: 175px;
        padding-bottom: 70px;
    }

    .detail-adv-sec {
        padding-bottom: 70px;
    }

    .detail-adv-sec__text {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 910px) {
    .detail-sec {
        padding-top: 210px;
        padding-bottom: 60px;
    }

    .detail-sec__title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
    }

    .detail-adv-sec__text {
        margin-top: 26px;
    }

    .detail-adv-sec__btn {
        width: 100%;
        text-align: center;
    }

    .detail-adv-sec {
        padding-bottom: 60px;
    }
}