.order-staps-sec {
    padding-top: 182px;
    padding-bottom: 50px;
}

.order-staps-sec__title {
    margin: 30px 0 36px 0;
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
    /* identical to box height, or 44px */
    letter-spacing: -0.03em;


}

.order-staps-sec__row-staps {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-staps-sec__stap {
    display: flex;
    align-items: center;

    &.active {
        .order-staps-sec__stap-circle {
            background: #C8E0CD;
        }

        .order-staps-sec__stap-circle-wrapper {
            background: $green1;
            color: $white1;
        }

        .order-staps-sec__stap-title {
            color: rgba(34, 40, 43, 0.6);
        }

        .order-staps-sec__stap-subtitle {
            color: $black1;
        }
    }
}

.order-staps-sec__stap-circle {
    width: 72px;
    height: 72px;
    background: rgba(34, 40, 43, 0.2);
    border-radius: 100px;
    padding: 8px;
}

.order-staps-sec__stap-circle-wrapper {
    width: 100%;
    height: 100%;
    background: $white1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 600;
    color: rgba(34, 40, 43, 0.2);
    line-height: 1;
}

.order-staps-sec__stap-data {
    margin-left: 17px;
}

.order-staps-sec__stap-title {
    color: rgba(34, 40, 43, 0.6);
    font-size: 16px;
    margin-bottom: 5px;
}

.order-staps-sec__stap-subtitle {
    font-size: 18px;
    line-height: 26px;
    color: rgba(34, 40, 43, 0.6);
    font-weight: 600;
}

.order-staps-sec__row-staps-line {
    width: 31px;
    height: 1px;
    background: rgba(34, 40, 43, 0.2);
}

.order-cart-sec {
    padding-bottom: 80px;
}

.order-cart-sec__title {
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: -0.03em;
}

.order-cart-sec__row-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white1;
    height: 72px;
    border-radius: 20px;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 16px;
}

.cart-col-title {
    font-size: 16px;
    font-weight: 600;
}

.cart-col-1 {
    width: 490px;
}

.cart-col-2 {
    width: 95px;
}

.cart-col-3 {
    width: 270px;
}

.order-cart-sec__wrapper {
    .cart-prodyct {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cart-prodyct {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 20px;
    background: $white1;
    justify-content: space-between;
    position: relative;
}

.cart-prodyct__item-info {
    display: flex;
    align-items: center;
}

.cart-prodyct__img-wrapper {
    width: 80px;
    height: 80px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cart-prodyct__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cart-prodyct__title {
    max-width: calc(100% - 80px);
    padding-left: 26px;
    font-size: 16px;
    color: $black1;
}

.cart-prodyct__count {
    display: flex;
    align-items: center;
}

.cart-prodyct__count-inp {
    border: none;
    width: 30px;
    background: none;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    margin: 0 5px;
}

.cart-prodyct__count-btn-icon {
    display: block;
    width: 16px;
}

.cart-prodyct__count-btn {
    cursor: pointer;
}

.cart-prodyct__count-btn--min {
    .cart-prodyct__count-btn-icon {
        transform: rotate(180deg);
    }
}

.cart-prodyct__price-row {
    display: flex;
    align-items: center;
}

.cart-prodyct__price-current {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.cart-prodyct__price-old {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-decoration-line: line-through;
    margin-left: 15px;
    color: rgba(34, 40, 43, 0.5);
}

.cart-prodyct__total-price-row {
    font-size: 12px;
    line-height: 140%;
    color: rgba(34, 40, 43, 0.5);
}

.cart-prodyct__close {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 40px;
    width: 33px;
    display: block;
}

.order-cart-sec__total-price-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 43px;
    width: 100%;
}

.order-cart-sec__total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 423px;
}

.order-cart-sec__total-price-name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.order-cart-sec__total-price-value {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.order-user-data-sec {

    padding-bottom: 80px;
}

.order-user-data-sec__title {
    font-size: 36px;
    font-weight: 40px;
    margin-bottom: 36px;
    font-weight: 600;
}

.order-user-data-sec__type-row {
    display: flex;
    align-items: center;

    .radio-label {
        color: $black1;

    }

    .radio-input {
        border: solid 1px $black1;
    }

    .radio-input:checked {
        border: solid 4px $orange1;
        background: $white1;
    }

    .radio-item-element {
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }

}

.order-user-data-sec__tabs-wrapper {
    width: 100%;

}

.order-user-data-sec__tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
    justify-content: space-between;
    display: none;

    &.active {
        display: flex;
    }
}

.order-user-data-sec__inp {
    width: calc(33.333% - 7px);
    margin-bottom: 20px;
}

.order-user-data-sec__inp--middle {
    width: calc(66.666% - 14px);
}

.order-user-data-sec__inp--long {
    width: 100%;
}

.order-control-staps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.order-control-staps__past-stap {
    display: inline-block;
    padding: 11px 45px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: $black1;
    border: solid 1px rgba(34, 40, 43, 0.2);
    transition: all ease 0.3s;
    margin-right: 20px;

    &:hover {
        background: rgba(34, 40, 43, 0.2);
        transition: all ease 0.3s;
    }
}

.order-control-staps__right {
    display: flex;
    align-items: center;
}

.order-control-stap__have-account {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-decoration-line: underline;

    color: #22282B;


}

.order-control-stap__exit-btn {
    display: inline-block;
    background: $green1;
    color: $white1;
    padding: 11px 90px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 140%;
    transition: all ease 0.3s;

    &:hover {
        background: $green3;
        transition: all ease 0.3s;
    }
}

.order-delevery-sec {
    padding-bottom: 80px;
}

.order-delevery-sec__title {
    font-size: 36px;
    font-weight: 40px;
    margin-bottom: 36px;
    font-weight: 600;
}

.order-delevery-sec__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-delevery-sec__list-container {
    width: calc(100% - 540px);
    padding-right: 20px;
}

.order-delevery-sec__list-text {
    margin-bottom: 26px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 600;
}

.order-delevery-sec__list-element {

    margin-bottom: 20px;

    .radio-input {
        border: solid 1px $black1;
    }

    .radio-input:checked {
        border: solid 4px $orange1;
        background: $white1;
    }



    &:last-child {
        margin-bottom: 0;
    }

}

.order-delevery-sec-radio-item-element {
    .radio-label {
        display: flex;
        align-items: center;
    }
}

.order-delevery-sec-radio-item-element__img-wrappr {
    width: 100px;
    height: 75px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;

    img {
        max-width: 60px;
        max-height: 50px;
        display: block;
    }


}

.order-delevery-sec-radio-item-element__data {
    padding-left: 20px;
}

.order-delevery-sec-radio-item-element__data-title {
    color: $black1;
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 24px;
    font-weight: 500;
}

.order-delevery-sec-radio-item-element__data-price {
    font-size: 20px;
    font-weight: 600;
    color: $black1;
}

.order-delevery-sec__dop-features-wrapper {
    width: 540px;
}

.order-dop-features-card {
    width: 100%;
    border-radius: 20px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    background: #F7F7F7;
    padding: 40px;
    display: none;

    &.active {
        display: block;
    }
}

.order-dop-features-card__header {
    display: flex;
    align-items: center;
}

.order-dop-features-card__img-wrapper {
    width: 100px;
    height: 75px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 10px;
    background: $white1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-dop-features-card__img {
    max-height: 50px;
    max-width: 60px;
    display: block;
}

.order-dop-features-card__title {
    width: calc(100% - 100px);
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.order-dop-features-card__text {
    margin-top: 22px;
    font-size: 16px;
    line-height: 130%;
}

.order-dop-features-card__price-row {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-dop-features-card__price-name {
    font-size: 20px;
    font-weight: 600;
}

.order-dop-features-card__price-value {
    font-size: 24px;
    font-weight: 600;
}

.order-confirm-sec {
    padding-bottom: 80px;
}

.order-confirm-sec__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 36px;
    font-weight: 600;
}

.order-confirm-sec__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-confirm-sec__user-data-table {
    width: 540px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 20px;
    padding: 35px 40px;
    background: $white3;
}

.order-confirm-sec__user-data-table-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    margin-bottom: 14px;
    border-bottom: solid 1px rgba(37, 39, 43, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
}

.order-confirm-sec__user-data-table-name {
    font-size: 16px;
    line-height: 130%;
    color: rgba(34, 40, 43, 0.5);
}

.order-confirm-sec__user-data-table-value {
    text-align: right;
    font-size: 16px;
    color: $black1;
    line-height: 130%;
}

.order-confirm-sec__prodycts-data {
    width: calc(100% - 540px);
    padding-left: 20px;

    .order-control-staps {
        justify-content: flex-end;
    }
}

.order-confirm-sec__prodycts-data-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    background: $white1;
    border-radius: 20px;
    padding: 10px 40px;
}

.order-confirm-sec__prodycts-data-element-img-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: solid 1px rgba(34, 40, 43, 0.2);
}

.order-confirm-sec__prodycts-data-element-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.order-confirm-sec__prodycts-data-element-title {
    width: 255px;
    font-size: 16px;
    color: $black1;
}

.order-confirm-sec__prodycts-data-element-price {
    text-align: right;
    width: 90px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.order-confirm-sec__total-price-claster {
    margin-top: 30px;
}

.total-price-claster {
    padding: 40px;
    border-radius: 20px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    width: 100%;
    background: $white3;
}

.total-price-claster__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.total-price-claster__name {
    font-weight: 600;
    line-height: 130%;
}

.total-price-claster__value {
    font-weight: 600;
    line-height: 130%;
}

.total-price-claster__row--sale {
    color: $red1;
}

.total-price-claster__row--total {
    margin-top: 30px;

    .total-price-claster__name {
        font-size: 20px;
        line-height: 130%;
    }

    .total-price-claster__value {
        font-size: 20px;
        line-height: 130%;
    }
}

.order-ready-sec {
    padding-top: 182px;
    padding-bottom: 80px;
    min-height: 70vh;
}

.order-ready-sec__title {
    font-size: 44px;
    line-height: 100%;
    font-weight: 600;
    margin: 30px 0 36px 0;
}

.order-ready-sec__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}




@media only screen and (max-width: 1150px) {
    .order-staps-sec {
        padding-top: 175px;
    }

    .order-staps-sec__title {
        margin: 30px 0;
        font-size: 36px;
        font-weight: 100%;
    }

    .order-cart-sec__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .order-cart-sec__row-nav {
        padding: 0 30px;
    }

    .cart-prodyct {
        padding: 10px 30px;
    }

    .cart-prodyct__close {
        right: 30px;
    }

    .cart-col-1 {
        width: 390px;
    }

    .order-cart-sec__total-price-row {
        margin-top: 30px;
    }

    .order-cart-sec__total-price-name {
        font-size: 18px;
    }

    .order-cart-sec__total-price-value {
        font-size: 20px;
        line-height: 26px;
    }

    .order-cart-sec {
        padding-bottom: 70px;
    }

    .order-user-data-sec__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .order-user-data-sec {
        padding-bottom: 70px;
    }

    .order-delevery-sec {
        padding-bottom: 70px;
    }

    .order-delevery-sec__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .order-delevery-sec__dop-features-wrapper {
        width: 442px;
    }

    .order-delevery-sec-radio-item-element__data {
        width: calc(100% - 140px);
        padding-left: 20px;
    }

    .order-delevery-sec-radio-item-element__data-title {
        font-size: 18px;
    }

    .order-delevery-sec-radio-item-element__data-price {
        font-size: 18px;
    }

    .order-delevery-sec__list-container {
        width: calc(100% - 442px);
    }

    .order-delevery-sec__list-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .order-confirm-sec__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .order-confirm-sec__user-data-table {
        width: 442px;
    }

    .order-confirm-sec__prodycts-data {
        width: calc(100% - 442px);
    }

    .order-confirm-sec__prodycts-data-element {
        padding: 10px 15px 10px 20px;
    }

    .order-confirm-sec__prodycts-data-element-price {
        width: auto;
        font-size: 18px;
    }

    .order-confirm-sec__prodycts-data-element-title {
        width: 190px;
    }

    .total-price-claster__value {
        text-align: right;
    }

    .total-price-claster__name {
        font-size: 16px;
    }

    .total-price-claster {
        padding: 30px;
    }

    .order-control-staps__past-stap {
        margin: 0;
    }

    .order-confirm-sec__prodycts-data .order-control-staps__left {
        width: 100%;
        justify-content: space-between;
        display: flex;

        .order-control-staps__past-stap {
            width: 200px;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }
    }

    .order-confirm-sec__prodycts-data .order-control-staps {
        width: 100%;
    }

    .order-confirm-sec {
        padding-bottom: 70px;
    }

    .order-ready-sec {
        padding-top: 175px;
    }

    .order-ready-sec__title {
        font-size: 36px;
        margin: 30px 0;
        line-height: 100%;
    }

    .order-ready-sec__subtitle {
        font-size: 18px;
    }

}

@media only screen and (max-width: 910px) {
    .order-staps-sec {
        padding-top: 210px;
        padding-bottom: 60px;
    }

    .order-staps-sec__title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        line-height: 100%;
        font-size: 30px;
    }

    .order-staps-sec__row-staps {
        flex-wrap: wrap;
    }

    .order-staps-sec__stap {
        width: 100%;
    }

    .order-staps-sec__stap-subtitle {
        font-size: 17px;
    }

    .order-staps-sec__row-staps-line {
        width: 1px;
        height: 23px;
        margin-left: 36px;
    }

    .order-cart-sec__title {
        font-size: 26px;
        line-height: 38px;
    }

    .order-cart-sec__row-nav {
        display: none;
    }

    .cart-prodyct {
        padding: 20px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .cart-prodyct__item-info {
        width: 100%;
        padding-right: 50px;
    }

    .cart-prodyct__close {
        right: 15px;
        top: 15px;
    }

    .cart-prodyct__title {
        padding-left: 20px;
    }

    .cart-prodyct__item-info {
        margin-bottom: 13px;
    }

    .cart-col-3 {
        width: auto;
    }

    .cart-col-2 {
        width: 30%;
    }

    .order-cart-sec__total-price-name {
        font-size: 17px;
    }

    .order-cart-sec {
        padding-bottom: 60px;
    }

    .order-user-data-sec__title {
        font-size: 26px;
    }

    .order-user-data-sec {
        padding-bottom: 60px;


    }

    .order-user-data-sec__type-row {
        justify-content: space-between;

        .radio-item-element {
            margin: 0;
        }
    }

    .order-user-data-sec__tab {
        padding-top: 30px;
    }

    .order-user-data-sec__inp {
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .order-control-staps {
        flex-wrap: wrap;
    }

    .order-control-staps__left {
        width: 100%;
        margin-bottom: 40px;

        .btnV1 {
            width: 100%;
            justify-content: space-between;

        }

        .btnV1__text {
            width: calc(100% - 35px);
            padding-right: 0;
            text-align: center;
        }
    }

    .order-control-staps__right {
        width: 100%;
        justify-content: space-between;
    }

    .order-control-stap__have-account {
        font-size: 16px;
        margin-right: 0;
    }

    .order-control-stap__exit-btn {
        width: 210px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .order-delevery-sec__wrapper {
        flex-wrap: wrap;
    }

    .order-delevery-sec__list-container {
        width: 100%;
        padding-right: 0;
    }

    .order-delevery-sec__dop-features-wrapper {
        width: 100%;
        margin-top: 40px;
    }

    .order-dop-features-card {
        padding: 30px;
        border-radius: 20px;
    }

    .order-dop-features-card__title {
        font-size: 17px;
    }

    .order-dop-features-card__price-row {
        margin-top: 30px;
    }

    .order-dop-features-card__price-name {
        font-size: 17px;
        line-height: 1;
    }

    .order-dop-features-card__price-value {
        font-size: 20px;
        line-height: 1;
    }

    .order-delevery-sec-radio-item-element__data-title {
        font-size: 17px;
    }

    .order-delevery-sec-radio-item-element__data-price {
        font-size: 17px;
    }

    .order-delevery-sec__title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    .order-control-staps__past-stap {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        text-align: center;
    }

    .order-delevery-sec {
        padding-bottom: 60px;
    }

    .order-confirm-sec {
        padding-bottom: 60px;
    }

    .order-confirm-sec__title {
        font-size: 26px;
        line-height: 30px;
    }

    .order-confirm-sec__wrapper {
        flex-wrap: wrap;
    }

    .order-confirm-sec__user-data-table {
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
    }

    .order-confirm-sec__prodycts-data {
        width: 100%;
        padding-left: 0;
    }

    .order-confirm-sec__prodycts-data-element-title {
        width: 125px;
        font-size: 14px;
    }

    .order-confirm-sec__prodycts-data-element-price {
        width: 90px;

    }

    .total-price-claster__value {
        width: 95px;
    }

    .total-price-claster__name {
        width: calc(100% - 95px);
    }

    .total-price-claster__row--total .total-price-claster__value {
        font-size: 20px;
        width: auto;
    }

    .total-price-claster__row--total .total-price-claster__name {
        width: auto;
        font-size: 17px;
    }

    .order-confirm-sec__prodycts-data {

        .order-control-staps__left {
            flex-wrap: wrap;
        }

        .order-control-staps__left .order-control-staps__past-stap {
            width: 100%;
        }

        .order-control-staps__left {
            margin-bottom: 0;
        }
    }



    .order-ready-sec {
        padding-top: 210px;
    }

    .order-ready-sec__title {
        font-size: 30px;
        margin: 20px 0 30px 0;
        line-height: 100%;
    }

    .order-ready-sec__subtitle {
        font-size: 18px;
    }

    .order-ready-sec__subtitle {
        font-size: 16px;
    }
}