.air-conteiner {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.0);
    z-index: -100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transition: all ease 0.8s;
    opacity: 0;
}

.air-conteiner_active {
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.air-close {
    width: 33px;
    height: 33px;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 555;
    cursor: pointer;
    background: url("../img/_src/icon/close-popup.svg")no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.popup-air {
    position: absolute;
    transition: all ease 0.8s;
    transform: translateY(100vh) scale(0.9);
    opacity: 0;
}

.air-popup_active {
    transform: translateY(0%) scale(1) skew(0deg, 0deg);
    opacity: 1;
}

.slider-wrapper-gg {
    max-width: 1200px;
}

.form-order {
    background: $white1;
    border-radius: 20px;
    width: 615px;
    padding: 40px;
    border: solid 1px rgba(34, 40, 43, 0.2);
}

.form-order__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -1.5px;
}

.form-order__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
}

.form-order__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
}

.form-order__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-order__inp--long {
    width: 100%;
}

.form-order_confirm {
    .container-checkbox {
        font-size: 13px;
    }
}

.form-order__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-collback__inp {
    width: 100%;
}

.auth-popup {
    background: $white1;
    width: 615px;
    padding: 40px;
    border-radius: 20px;
    border: solid 1px rgba(34, 40, 43, 0.2);
}

.auth-popup__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 26px;
}

.auth-popup__inp {
    width: 100%;
}

.auth-popup__text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

    span {
        color: $black1;
        cursor: pointer;
    }
}

.auth-popup__controll-btn-row {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.valid-error-text {
    color: $red1;
    margin-bottom: 15px;
}

.valid-error {
    input {
        border: solid 1px $red1;

        &::placeholder {
            color: $red1;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .form-order {
        width: 480px;

        .form-fields__inp {
            width: calc(50% - 8px);
        }

        .form-order__inp--long {
            width: 100%;
        }
    }

    .form-order__row {
        flex-wrap: wrap;

        .form-order_confirm {
            order: 2;
            width: 100%;
            margin-top: 20px;
        }

        .form-fields__btn {
            width: 100%;
        }


    }

    .form-order__title {
        font-size: 30px;
        line-height: 40px;
    }

    .form-order__text {
        font-size: 18px;
        line-height: 26px;
    }

    .auth-popup__controll-btn-row {
        flex-wrap: wrap;
    }

    .auth-popup {
        width: 490px;
    }

    .auth-popup__title {
        font-size: 30px;
    }

    .auth-popup__controll-btn-row {
        margin-top: 15px;

        .form-fields__btn {
            width: 100%;
        }

        .form-fields__confirm {
            width: 100%;
            order: 2;
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 910px) {
    .form-order {
        width: 370px;
        padding: 30px;

        .form-fields__inp {
            width: 100%;
        }
    }

    .form-order__title {
        font-size: 26px;
        line-height: 38px;
    }

    .form-order__subtitle {
        font-size: 15px;
    }

    .form-order__text {
        font-size: 18px;
    }

    .auth-popup {
        width: 370px;
        padding: 30px;
    }

    .auth-popup__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .auth-popup__text {
        font-size: 14px;
    }

    .auth-popup__controll-btn-row {
        margin-top: 10px;
    }

    .valid-error-text {
        margin-bottom: 10px;
        font-size: 14px;
    }

}