@import "vars";

.hero-product-sec {
    position: relative;
    width: 100%;
    // min-height: 725px;
    padding-top: 160px;

    .container {
        position: relative;
        z-index: 2;
        padding-top: 22px;
        padding-bottom: 52px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

    }

    .bread-crumbs {
        margin-bottom: 30px;
    }

    .bread-crumbs__link {
        color: $white1;
        opacity: 0.5;
    }

    .bread-crumbs__current-page {
        color: $white1;
    }
}

.hero-product-sec__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
}

.hero-product-sec__data {
    width: 600px;
}

.hero-product-sec__title {
    font-size: 44px;
    letter-spacing: -1px;
    line-height: 100%;
    color: $white1;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-product-sec__subtitle {
    font-size: 16px;
    line-height: 130%;
    color: $white1;
    margin-bottom: 30px;
}

.hero-product-sec__header-row {
    display: flex;
    margin-bottom: 17px;
}

.atx-box {
    display: inline-flex;
    align-items: center;
    background: $white1;
    border-radius: 100px;
    padding: 7px 15px;

}

.atx-box__text {
    font-size: 14px;
    line-height: 140%;
}

.atx-box__dot {
    background: $green1;
    margin-right: 7px;
    width: 6px;
    height: 6px;
    border-radius: 100px;
}

.hero-product-sec__atx-box {
    margin-right: 10px;
}

.hero-product-sec__pay-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .cart-btn {
        margin-right: 15px;
    }
}

.hero-product-sec__price {
    font-size: 36px;
    line-height: 1;
    margin-left: 30px;
    color: $white1;
    font-weight: 600;
    letter-spacing: -1px;
}

.hero-product-sec__delivery-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .product-card__benefits-list-text {
        color: $white1;
        opacity: 1;
    }

    .product-card__benefits-list-element {
        margin-right: 30px;
    }
}

.product-card__tegs-cluster {
    .home-hero-sec__teg {
        font-size: 15px;
    }
}

.hero-product-sec__slider {
    width: 560px;
    margin-right: -125px;
}

.hero-product-sec__big-slider-wrapper {
    width: 100%;
}

.product-slider-big {
    width: 100%;
}

.product-slider-big__img-wrapper {
    width: 100%;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-slider-big__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.hero-product-sec__controll-slider-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-slider-controll {
    width: calc(100% - 65px - 65px);

    .swiper-slide-thumb-active {
        .product-slider-controll__img-wrapper {
            opacity: 1;
        }
    }
}

.product-slider-controll__img-wrapper {
    width: 100%;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: solid 1px $white1;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.product-slider-controll__img {
    max-width: 100%;
    max-width: 100%;
    display: block;
}

.product-description-sec {
    padding-top: 80px;
    padding-bottom: 60px;
}

.product-about-sec {
    padding-bottom: 80px;

}

.product-about-sec__nav {
    display: flex;
}

.product-about-sec__nav-element {
    padding: 9px 14px;
    border-radius: 100px;
    font-size: 12px;
    line-height: 140%;
    border: solid 1px rgba(34, 40, 43, 0.2);
    margin-right: 10px;
    font-weight: 500;
    transition: all ease 0.3s;
    cursor: pointer;

    &.active {
        background: $green1;
        border: solid 1px $green1;
        color: $white1;
    }
}

.product-about-sec__tab-wrapper {
    margin-top: 30px;
}

.product-about-sec__tab {
    border: solid 1px rgba(34, 40, 43, 0.2);
    padding: 40px;
    border-radius: 20px;
}

.product-tab {
    display: none;

    &.active {
        display: block;
    }
}

.product-tab__char {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-tab__char-claster {
    width: calc(50% - 33px);
    margin-bottom: 30px;

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.product-tab__char-claster-title {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 8px;
    font-weight: 600;
    border-bottom: solid 1px rgba(34, 40, 43, 0.2);
    margin-bottom: 20px;
}

.product-tab__char-claster-list-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 14px;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.product-tab__char-claster-list-element-name {
    font-size: 18px;
    opacity: 0.5;
    line-height: 25px;
    max-width: 50%;
}

.product-tab__char-claster-list-element-value {
    font-size: 18px;
    line-height: 25px;
    max-width: 60%;
    text-align: right;
}

.product-tab__complectation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-tab__complectation-list-element {
    width: calc(50% - 33px);
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 8px;
    font-weight: 600;
    border-bottom: solid 1px rgba(34, 40, 43, 0.2);
    margin-bottom: 12px;

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.product-tab__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-tab__video-element {
    width: calc(50% - 10px);
    margin-bottom: 40px;

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.product-tab__video-element-preview-wrapper {
    width: 100%;
    height: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    overflow: hidden;
}

.product-tab__video-element-preview {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product-tab__video-element-play {
    display: block;
    width: 57px;
    transition: all ease 0.3s;
    position: absolute;
    z-index: 10;

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.product-tab__video-element-play-icon {
    display: block;
    width: 100%;
}

.product-tab__video-element-title {
    margin-top: 14px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.similar-products-sec {
    padding: 80px 0;
}

@media only screen and (max-width: 1150px) {
    .hero-product-sec__data {
        width: 500px;
    }

    .hero-product-sec__slider {
        width: 400px;
        margin-right: 0;
    }

    .hero-product-sec__title {
        font-size: 36px;
        margin-bottom: 16px;
        line-height: 100%;
    }

    .hero-product-sec__subtitle {
        margin-bottom: 33px;
    }

    .hero-product-sec__price {
        font-size: 26px;
        margin-left: 0;
    }

    .hero-product-sec__pay-row .cart-btn {
        margin-right: 0;
    }

    .hero-product-sec__pay-row {
        justify-content: space-between;
    }

    .hero-product-sec .container {
        padding-bottom: 40px;
    }

    .hero-product-sec__controll-slider-wrapper {
        width: 100%;
    }

    .hero-product-sec__big-slider-wrapper {
        width: calc(100% + 62px);
        margin-left: 10px;
    }

    .product-slider-controll__img-wrapper {
        height: 78px;
        border-radius: 25px;
    }

    .product-description-sec {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .product-about-sec {
        padding-bottom: 70px;
    }

    .product-about-sec__tab {
        padding: 30px;
    }

    .product-tab__char-claster-title {
        font-size: 18px;
        padding-bottom: 6px;
        margin-bottom: 20px;
    }

    .product-tab__char-claster-list-element-name {
        font-size: 16px;
        line-height: 25px;
    }

    .product-tab__char-claster-list-element-value {
        font-size: 16px;
        line-height: 25px;
    }

    .product-tab__video-element-title {
        font-size: 18px;
    }

    .product-tab__video-element-preview-wrapper {
        height: 260px;
        border-radius: 15px;
    }

    .similar-products-sec {
        padding: 70px 0;
    }
}

@media only screen and (max-width: 910px) {
    .hero-product-sec__bg {
        height: 100%;
        object-fit: cover;
    }

    .hero-product-sec {
        padding-top: 190px;
    }

    .hero-product-sec__data {
        width: 100%;
        display: contents;
    }

    .hero-product-sec__slider {
        width: 100%;
        display: contents;
    }

    .hero-product-sec .bread-crumbs {
        margin-bottom: 20px;
    }

    .hero-product-sec__title {
        font-size: 30px;
    }

    .hero-product-sec__subtitle {
        line-height: 130%;
        margin-bottom: 30px;
    }

    .hero-product-sec__pay-row {
        flex-wrap: wrap;

        .btnV1 {
            width: 212px;

            .btnV1__text {
                width: calc(100% - 35px);
                margin-right: 0;
                text-align: center;
            }
        }
    }

    .hero-product-sec__price {
        line-height: 38px;
        margin-top: 16px;
    }

    .hero-product-sec__delivery-row {
        justify-content: space-between;
        flex-wrap: wrap;

        .product-card__benefits-list-element {
            margin-right: 0;
        }

        .product-card__benefits-list-text {
            font-size: 12px;
        }
    }

    .hero-product-sec__data-top {
        order: 1;
        // margin-bottom: 24px;
    }

    .hero-product-sec__big-slider-wrapper {
        order: 2;
        width: 100%;
        margin: 0;
        padding: 0 13px;
    }

    .hero-product-sec__controll-slider-wrapper {
        order: 3;
        width: 100%;
        margin-bottom: 36px;
    }

    .product-card__tegs-cluster {
        order: 4;
    }

    .product-slider-big__img-wrapper {
        height: 212px;
    }

    .product-slider-controll__img-wrapper {
        height: 73px;
    }

    .product-slider-controll {
        width: calc(100% - 60px - 60px);
    }

    .product-description-sec {
        padding: 60px 0;
        padding-bottom: 40px;
    }

    .product-about-sec__nav {
        flex-wrap: wrap;
    }

    .product-about-sec__nav-element {
        margin-bottom: 10px;
    }

    .product-about-sec__tab-wrapper {
        margin-top: 10px;
    }

    .product-tab__char {
        width: 100%;
    }

    .product-tab__char-claster {
        width: 100%;
        margin-bottom: 24px;
    }

    .product-tab__char-claster:nth-last-child(2) {
        margin-bottom: 24px;
    }

    .product-tab__char-claster-list-element {
        margin-bottom: 8px;
    }

    .product-about-sec {
        padding-bottom: 60px;
    }

    .product-tab__complectation-list-element {
        width: 100%;
    }

    .product-tab__complectation-list-element:nth-last-child(2) {
        margin-bottom: 12px;
    }

    .product-tab__video-element {
        width: 100%;
        margin-bottom: 30px;
    }

    .product-tab__video-element:nth-last-child(2) {
        margin-bottom: 30px;
    }

    .product-tab__video-element-preview-wrapper {
        height: 193px;
        border-radius: 26px;
    }

    .product-tab__video-element-title {
        line-height: 24px;
        font-size: 17px;
    }

    .similar-products-sec {
        padding: 60px 0;

        .sec-header-row {
            display: contents;
        }
    }
}