.hero-service-sec__img {
    position: absolute;
    z-index: 2;
    width: 776px;
    left: calc(50% + 50px);
    bottom: -50px;
}

.hero-service-sec {
    overflow: visible;
}

.main-service {
    overflow: hidden;
}

.our-service-list {
    padding: 80px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.our-service-list__about {
    width: calc(50% - 10px);
    background: $green2;
    border-radius: 20px;
    height: 590px;
    position: relative;
    padding: 40px;
}

.our-service-list__title {
    color: $white1;
    margin-bottom: 36px;
}

.our-service-list__about-data {
    position: relative;
    z-index: 2;
}

.our-service-list__about-bg-logo {
    position: absolute;
    z-index: 1;
    width: 500px;
    right: 0;
    bottom: 0;
    display: block;
}

.our-service-list__list-wrapper {
    width: calc(50% - 10px);
}

.our-service-list__list-element {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: $white1;
    border-radius: 20px;
    padding: 30px;
    border: solid 1px rgba(34, 40, 43, 0.3);

    &:last-child {
        margin-bottom: 0;
    }
}

.our-service-list__element-icon {
    display: block;
    width: 20px;
}

.our-service-list__element-text {
    width: calc(100% - 20px);
    padding-left: 11px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.adv-service-sec {
    padding-top: 0;
}

.service-banner-sec {
    position: relative;
    width: 100%;
    padding-top: 33.5px;
    padding-bottom: 33.5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.service-banner-sec__bg-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    display: block;
}

.service-banner-sec__border-top {
    position: absolute;
    top: 0;
    height: 33.5px;
    width: auto;
    display: block;
    z-index: 1;
}

.service-banner-sec__border-down {
    position: absolute;
    bottom: 0;
    height: 33.5px;
    width: auto;
    display: block;
    z-index: 1;
    transform: scaleY(-1);
}

.service-banner-sec__wrapper {
    width: 100%;
    position: relative;
    min-height: 300px;
    padding: 30px 50px;
    display: flex;
}

.service-banner-sec__data {
    width: 712px;
    position: relative;
    z-index: 5;
}

.service-banner-sec__title {
    color: $white1;
    margin-bottom: 36px;
}

.service-banner-sec__subtitle {
    line-height: 130%;
    color: $white1;
    opacity: 0.6;
    font-size: 16px;
}

.service-banner-sec__img {
    position: absolute;
    width: 557px;
    display: block;
    left: calc(50% + 214px);
    z-index: 3;
    top: -40px;
}

.ware-house-sec {
    padding: 80px 0;

    .btnV3 {
        background: none;
        padding-left: 23px;

        .btnV3__text {
            margin-right: 14px;
        }
    }
}

.ware-house-sec__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-top: 16px;
}

.ware-house-sec__element {
    width: calc(33.333% - 20px);
    margin: 20px 10px 0 10px;
    border: solid 1px rgba(34, 40, 43, 0.3);
    background: $white1;
    border-radius: 20px;
    padding: 20px 30px;
}

.ware-house-sec__icon {
    height: 53px;
    display: block;
}

.ware-house-sec__text {
    font-size: 16px;
    margin-top: 15px;
    line-height: 130%;
    font-weight: 600;
}

.map-services-sec {
    padding-bottom: 80px;
}

.map-services-sec__title {
    margin-bottom: 36px;
}

.map-services-sec__map-wrapper {
    width: 100%;
    height: 308px;
    border-radius: 20px;
    overflow: hidden;

    #map1 {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    .hero-service-sec__img {
        width: 727px;
        bottom: -47px;
        left: calc(50% - 10px);
    }

    .our-service-list {
        padding: 70px 0;
    }

    .our-service-list__element-text {
        font-size: 18px;
    }

    .our-service-list__title {
        margin-bottom: 30px;
    }

    .service-banner-sec__title {
        margin-bottom: 30px;
    }

    .service-banner-sec__data {
        width: 610px;
    }

    .service-banner-sec__img {

        width: 434px;

        left: calc(50% + 185px);

        top: 20px;
    }

    .ware-house-sec {
        padding: 70px 0;
    }

    .map-services-sec__title {
        margin-bottom: 30px;
    }

    .consult-service-sec {
        padding: 70px 0;
    }

    .consult-service-sec .sec-title {
        max-width: 540px;
        margin-bottom: 30px;
        line-height: 40px;
    }

    .consult-service-sec__img {
        width: 442px;
    }

    .consult-service-sec__data {
        width: 440px;
    }

    .service-video-list {
        padding-bottom: 70px;
    }

    .service-video-list__slider-container {
        margin-top: 30px;
    }

    .service-form-sec {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 910px) {
    .hero-service-sec {
        padding-bottom: 350px;
    }

    .hero-service-sec__img {
        width: 536px;
        bottom: -34px;
        left: calc(50% - 210px);
    }

    .our-service-list {
        padding: 60px 0;

        .container {
            flex-wrap: wrap;
        }
    }

    .our-service-list__about {
        width: 100%;
        padding: 30px;
        height: auto;
        padding-bottom: 150px;
    }

    .our-service-list__title {
        font-size: 26px;
        margin-bottom: 24px;
    }

    .our-service-list__about-bg-logo {
        left: 40px;
    }

    .our-service-list__list-wrapper {
        width: 100%;
        margin-top: 30px;
    }

    .service-banner-sec__data {
        width: 100%;
    }

    .service-banner-sec__title {
        font-size: 26px;
        margin-bottom: 26px;
    }

    .service-banner-sec__wrapper {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 192px;
    }

    .service-banner-sec__img {
        width: 345px;
        left: calc(50% - 88px);
        top: auto;
        bottom: -56px;
    }

    .ware-house-sec {
        padding: 60px 0;

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .sec-header-row {
            display: contents;
        }

        .sec-title {
            order: 1;
        }

        .btnV3 {
            order: 3;
        }
    }

    .ware-house-sec__wrapper {
        order: 2;
        width: 100%;
        margin-left: 0;
    }

    .ware-house-sec__element {
        width: 100%;
        margin: 0;
        margin-top: 16px;
    }

    .our-service-list__element-text {
        font-size: 17px;
    }

    .map-services-sec {
        padding-bottom: 60px;
    }

    .map-services-sec__title {
        font-size: 26px;
        margin-bottom: 26px;
    }

    .consult-service-sec {
        padding: 60px 0;
    }

    .consult-service-sec .sec-title {
        font-size: 26px;
        line-height: 130%;
        margin-bottom: 26px;
    }

    .consult-service-sec__row {
        flex-wrap: wrap;
    }

    .consult-service-sec__img {
        width: 100%;
    }

    .service-video-list {
        padding-bottom: 60px;

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .sec-header-row {
            display: contents;
        }

        .product-tab__video-element-preview-wrapper {
            height: 225px;
        }
    }

    .service-video-list__slider-container {
        width: 100%;
    }

    .service-form-sec {
        margin-bottom: 60px;
    }
}