* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	outline: 0 none !important;

}


body::-webkit-scrollbar {
	width: 8px;
	background: #D9D9D9;
	border-radius: 100px;
}

body::-webkit-scrollbar-track {
	border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
	background-color: #5D5D5D;
	border-radius: 100px;

}

input {
	outline: 0 none !important;

	font-family: $mainFont
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=tel] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	font-family: $mainFont;
}

select {
	cursor: pointer;
	outline: 0 none !important;
	font-family: $mainFont;

}

section {
	overflow: hidden;
}

textarea {
	outline: 0 none !important;
	font-family: $mainFont;
}

svg {
	shape-rendering: geometricPrecision;
}

body {
	background: $white2;
	font-family: $mainFont;
	color: $black1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $mainFont;
}

ul {
	margin-bottom: 0;
}

.app {

	min-width: 260px;
}

.container {
	width: 1100px;
	margin: 0 auto;

}



@media only screen and (max-width: 1150px) {
	.container {
		width: 900px;
	}
}

@media only screen and (max-width: 910px) {
	.container {
		width: 370px;
	}
}