.wholesale-registr-sec {
    padding-top: 182px;
    padding-bottom: 80px;


    position: relative;

}

.wholesale-registr-sec__title {
    margin-top: 30px;
    margin-bottom: 36px;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 728px;
}

.form-fields__inp {
    margin-bottom: 16px;
    width: calc(50% - 10px);

    input {
        width: 100%;
        padding: 13px 20px;
        border-radius: 100px;
        border: solid 1px rgba(34, 40, 43, 0.2);
        font-size: 16px;
        line-height: 100%;

        &::placeholder {
            color: $black1;
        }
    }
}

.form-fields__btn {

    width: calc(50% - 10px);
    margin-top: 8px;

    button {
        border-radius: 100px;
        font-size: 16px;
        font-weight: 500;
        color: $white1;
        padding: 12px;
        text-align: center;
        width: 100%;
        background: $green1;
        border: none;
        transition: all ease 0.3s;

        &:hover {
            background: $green3;
            transition: all ease 0.3s;
        }
    }
}

.form-fields__confirm {
    margin-top: 8px;
    width: calc(50% - 10px);

    .container-checkbox {
        color: $black1;
    }
}

.wholesale-registr-sec__link {
    margin-top: 40px;
    display: inline-block;
    color: $black1;
    text-decoration: underline;
    font-weight: 500;
    line-height: 140%;
}

.wholesale-registr-sec__car-img {
    position: absolute;
    width: 557px;
    z-index: 2;
    left: calc(50% + 216px);
    bottom: 10px;
}