@import "vars";
@import "fonts";
@import "libs";
@import "mixins";

@import "sourse";
@import "buttons";
@import "header";

@import "components/category";
@import "components/product-card";
@import "components/text-editor";
@import "components/pagination";
@import "components/price-range";
@import "components/map-style";

@import "home";
@import "catalog";
@import "catalog-category";
@import "product";
@import "contacts";
@import "brends";
@import "brend";
@import "about";
@import "detail";
@import "wholesale-registr";




@import "footer";
@import "popups";