.category-card {
    display: flex;
    align-items: flex-start;
    padding: 22px 40px 28px 20px;
    background: $white3;
    border: solid 1px rgba(34, 40, 43, 0.2);
    border-radius: 20px;
}

.category-card__img-wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.category-card__data {
    width: calc(100% - 200px);
    padding-left: 37px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-card__title {
    font-size: 24px;
    color: $black1;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.category-card__subtitle {
    font-size: 16px;
    color: $black1;
    opacity: 0.5;
    line-height: 1.3;
    margin-bottom: 24px;
}

.category-card__counter {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 12px;
}

.category-card__counter-circle {
    width: 24px;
    height: 24px;
    background: $green1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.category-card__counter-circle-dot {
    width: 10px;
    height: 10px;
    background: $white1;
    border-radius: 100px;
}

.category-card__counter-num {
    margin-left: 10px;
    font-size: 14px;
}

.category-card__tegs-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.category-card__teg {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    padding: 10px 13px;
    font-size: 12px;
    color: $black1;
    line-height: 1.4;
    font-weight: 500;
    border-radius: 100px;
    background: $white1;

    &:last-child {
        margin-right: 0;
    }
}

.category-card-cat-page {
    padding: 22px 20px 30px 20px;

    .category-card__data {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1150px) {
    .category-card {
        padding: 22px 20px 28px 10px;
    }

    .category-card__data {
        padding-left: 13px;


        .btnV3 {
            padding-left: 40px;
        }
    }

    .category-card__title {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 30px;
    }

    .category-card__subtitle {
        font-size: 16px;
        line-height: 130%;
    }
}


@media only screen and (max-width: 910px) {
    .category-card {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }

    .category-card__data {
        height: auto;
        display: block;
        width: 100%;
        padding: 8px 30px 30px 30px;
    }

    .category-card__img-wrapper {
        height: 211px;
        width: 100%;
    }

    .category-card__title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .category-card__subtitle {
        margin-bottom: 30px;
    }

    .category-card__data .btnV3 {
        width: 100%;
        padding-left: 0;

        .btnV3__text {
            width: calc(100% - 35px);
            text-align: center;
            margin-right: 0;
        }
    }


}