.map-cusom {
    width: 100%;
    height: 100%;

    .ymaps-2-1-79-controls__control_toolbar {
        display: none;
    }

    .ymaps-2-1-79-ground-pane {
        filter: grayscale(100%) sepia(10%) hue-rotate(190deg) saturate(120%) brightness(95%);
    }

    // .ymaps-2-1-79-copyrights-pane {
    //     filter: grayscale(100%) brightness(95%) contrast(90%);
    // }
    .ymaps-2-1-79-gototech {
        display: none;
    }

    // .ymaps-2-1-79-placemark-overlay {
    //     background: red;
    //     color: red;
    // }

    .ymaps_https___yastatic_net_s3_front_maps_static_maps_front_jsapi_v2_1_2_1_79_17366432_633106660104islands_circleDotIcon___1E98FF__1E98FF_27x27_1756503394681 {
        background: $green1;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            width: 15px;
            background: #E6E9EE;
            height: 15px;
            position: absolute;
            content: "";
            border-radius: 100px;
        }
    }

    /* Убираем padding контента */
    .ymaps-2-1-79-balloon__content {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* Убираем padding обёртки */
    .ymaps-2-1-79-balloon__content>ymaps {
        padding: 0 !important;
    }

    /* Убираем рамку */
    .ymaps-2-1-79-balloon__layout {
        border-radius: 0;
    }

    /* Если есть тень — убираем */
    .ymaps-2-1-79-balloon__shadow {
        display: none;
    }

    .ymaps-2-1-79-balloon,
    .ymaps-2-1-79-balloon__layout,
    .ymaps-2-1-79-balloon__content {
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }


}