.product-card {
    border-radius: 20px;
    padding: 20px;
    border: solid 1px rgba(34, 40, 43, 0.2);
    background: $white1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card__image-wrapper {
    width: 100%;
    height: 260px;
    background: $white3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.product-card__img {
    position: relative;
    z-index: 1;
    display: block;
    max-height: 100%;
    max-height: 100%;
}

.product-card__title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 18px;
}

.product-card__title-link {
    color: $black1;
}

.product-card__benefits-list-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-card__benefits-list-icon-wrapper {
    display: block;
    width: 23px;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.product-card__benefits-list-text {
    width: calc(100% - 23px);
    padding-left: 12px;
    font-size: 14px;
    line-height: 130%;
    opacity: 0.5;
}

.product-card__price-row {
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.product-card__current-price {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 12px;
}

.product-card__old-price {
    font-size: 16px;
    opacity: 0.5;
    text-decoration: line-through;
}

.product-card__controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-btn {
    padding: 12px 15px 12px 16px;
    background: $green1;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: $white1;
    font-size: 16px;

    svg {
        margin-right: 12px;
        display: block;
    }
}

.product-card__info-row {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    width: 100%;
    top: 0;
    padding: 10px 20px 0 20px;
}

.product-card__info-status {
    display: flex;
    align-items: center;

}

.product-card__info-status-circle {
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background: $green1;
}

.product-card__info-status-text {
    font-size: 12px;
    margin-left: 5px;
}

.product-card__info-article {
    font-size: 12px;
    line-height: 1;
    opacity: 0.5;
}

.product-card__info-btns-wrapper {
    display: flex;
    align-items: center;
}

.product-card__info-btn {
    cursor: pointer;
    margin-left: 10px;

    svg {
        display: block;
    }

    &:first-child {
        margin-left: 0;
    }
}