.text-editor {
    p {
        font-size: 16px;
        line-height: 130%;
        color: $black1;
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 15px;
        font-weight: 600;
    }

    ul {
        margin-bottom: 20px;

        li {
            margin-bottom: 20px;
            position: relative;
            font-size: 16px;
            padding-left: 30px;
            line-height: 130%;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                width: 20px;
                height: 20px;
                top: 1px;
                position: absolute;
                left: 0;
                content: "";
                background-image: url('../img/_src/icon/check.svg');
                background-size: cover;
                background-position: center;
            }
        }
    }

    &.text-editor--white {

        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $white1;
            opacity: 0.9;
        }
    }
}

@media only screen and (max-width: 910px) {
    .text-editor {

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-size: 22px;
            line-height: 130%;
            margin-bottom: 15px;
            font-weight: 600;
        }

        p {
            margin-bottom: 20px;
        }
    }
}