.waranty-service-form-sec {

    background: $green2;
    position: relative;
    min-height: 450px;
    padding: 50px 0;

    .sec-title {
        color: $white1;
    }
}

.waranty-service-form-sec__img {
    width: 552px;
    position: absolute;
    left: calc(50% + 204px);
    bottom: -34px;
}

.waranty-staps {
    margin-top: 36px;
    width: 710px;
}

.waranty-staps__counter {
    font-size: 16px;
    margin-bottom: 20px;
    color: $white1;
    opacity: 0.6;
}

.waranty-stap__radio-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .radio-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Определение CSS-переменных для кастомных чекбоксов */
:root {
    --itc-body-bg: #fff;
    /* Цвет фона */
    --itc-border-color: #dee2e6;
    /* Цвет границы */
    --itc-radio-color: #0d6efd;
    /* Цвет активного состояния */
    --itc-disabled-opacity: 0.5;
    /* Прозрачность отключенного чекбокса */

    /* Размеры и стили оформления */
    --itc-border-width: 1px;
    /* Толщина границы */
    --itc-radio-size: 1rem;
    /* Размер чекбокса */
    --itc-radio-gap: 0.5rem;
    /* Расстояние между чекбоксом и текстом */
    --itc-radius: 0.375rem;
    /* Радиус скругления */
    --itc-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* Плавные анимации */
}

.radio-group:disabled .radio-input {
    opacity: var(--itc-disabled-opacity);
    cursor: not-allowed;
}

/* Контейнер для каждого чекбокса */
.radio-item {
    display: flex;
    align-items: center;
    gap: var(--itc-radio-gap);
    position: relative;
}

/* Стилизация чекбокса */
.radio-input {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: solid 4px $white1;
    border-radius: 50%;
    background-color: $white1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    margin: 0;
}



.radio-input:focus-visible {
    outline: 2px solid var(--itc-radio-color);
}

/* Оформление состояния checked */
.radio-input:checked {
    background-color: $orange1;
    border-color: $white1;

}

/* Стили метки чекбокса */
.radio-label {
    cursor: pointer;
    user-select: none;
    color: $white1;
}

/* Отключенный чекбокс */
.radio-input:disabled {
    filter: none;
    opacity: var(--itc-disabled-opacity);
    cursor: not-allowed;
}

.radio-input:disabled~.radio-label {
    opacity: var(--itc-disabled-opacity);
    cursor: not-allowed;
}

/* Скрытый элемент для доступности */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.waranty-stap__fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-input {
    margin-bottom: 20px;
    width: calc(33.333% - 7px);
}

.waranty-stap__adress {
    width: 100%;
}

.waranty-stap {
    display: none;

    &.active {
        display: block;
    }
}

.waranty-stap-btn-wrapper {
    display: flex;
    align-items: center;
}

.waranty-stap__back-btn {
    display: inline-block;
    border: solid 1px $white1;
    padding: 12px 45px;
    background: rgba(22, 43, 8, 1);
    color: $white1;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 20px;
}

.form-input--50 {
    width: calc(66%);
}

.form-select {
    width: calc(33.33% - 7px);
    margin-bottom: 20px;
}

.form-download__inp {
    display: none;
}

.form-download {
    width: calc(33.33% - 7px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-download__icon-wrapper {
    width: 18px;
    display: block;
    cursor: pointer;
}

.form-download__icon {
    width: 100%;
    display: block;
}

.form-download__text {
    max-width: calc(100% - 18px);
    padding-left: 12px;
    line-height: 130%;
    font-size: 16px;
    text-decoration: underline;
    color: $white1;
    cursor: pointer;
}

.waranty-stap--3__text {
    margin-bottom: 18px;
    font-size: 20px;
    color: $white1;
    font-weight: 600;
    line-height: 26px;
}

.waranty-stap--3 {
    .waranty-stap-btn-wrapper {
        margin-top: 30px;
    }

    .form__confirm-row {
        width: 100%;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1150px) {

    .waranty-service-form-sec__img {
        width: 408px;
        left: calc(50% + 204px);
        bottom: 23px;
    }

    .waranty-service-form-sec {
        .container {
            position: relative;
            z-index: 10;
        }
    }
}

@media only screen and (max-width: 910px) {
    .waranty-staps {
        margin-top: 20px;
        width: 100%;
    }

    .waranty-service-form-sec {
        padding: 40px 0;
    }

    .waranty-staps__counter {
        margin-bottom: 30px;
    }

    .radio-label {
        font-size: 16px;
    }

    .waranty-stap__radio-row {
        justify-content: space-between;

        .radio-item {
            margin-right: 0;
        }
    }

    .waranty-stap__fields-wrapper {
        .form-input {
            width: 100%;
        }

        .form-select {
            width: 100%;
        }

        .form-download {
            width: 100%;
        }
    }

    .waranty-stap-btn-wrapper {
        width: 100%;
        flex-wrap: wrap;

        .btnV1 {
            width: 100%;
            justify-content: space-between;
        }

        .btnV1__text {
            width: calc(100% - 35px);
            margin-right: 0;
            text-align: center;
        }

    }

    .waranty-stap__back-btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .waranty-stap--3__text {
        font-size: 17px;
    }

    .waranty-service-form-sec__img {
        display: none;
    }

}